<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Songify</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>

  </head>

  <body>

    <!-- fixed Navigation bar at the top of page -->
    <% include templates/fixedMainHeader.ejs %>

    <div class="container-fluid default" style="padding: 78px 0;">


      <!-- show all the songs of a perticular category -->
      <div class="row each-song-item">
        <div class="col-md-2"></div>

        <div class="col-md-8 default" style="margin-top: 0px; border: px solid #f6f6f6;">
          <!-- song playlist : show all the songs after selecting a perticular album or category -->

          <div class="song_list_wrapper">


            <!-- top of the song list where links are given -->
            <div class="list-header">
                <div class="left-side">
                    <span><a href="/new_release">New Releases</a></span>
                    <span><a href="#">Top Lists</a></span>
                    <span><a href="#">Featured</a></span>
                </div>
                <div class="right-side" style="position: absolute; right: 0;">
                    <span><a href="#">share</a></span>
                </div>
            </div>
            <hr style="background: rgba(255,255,255,0.5);">
            <!-- end top of the list  -->


            <div class="movie_title">
                <div class="movie_poster">
                  <img class="img-fluid img-style rounded" src="<%= songObj[0].imageURL %>">
                </div>
                <div class="song_details" style="">
                  <h4 style="text-transform : capitalize;"> <%= songObj[0].title %></h4>
                  <p><small><%= songObj[0].director %></small></p>

                  <div class="play-button">
                      <button type="button" class="btn btn-outline-secondary btn-small" style="cursor: pointer;">
                        <span class="btn_text"><small>Play All</small></span>
                        <span class="btn_icon"><small><i class="fa fa-play play-icon" aria-hidden="true"></i></small></span>
                      </button>
                  </div>
                </div>
            </div>

            <div class="song_list" style="font-size: 12px;">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Title</th>
                          <th>Artist</th>
                          <th>Duration</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% for(var song = 1; song < songObj.length; song++) { %>
                      <tr style="cursor: pointer;">
                          <td class="songNumber"><%= song %></td>
                          <td><%= songObj[song].song_title %></td>
                          <td><%= songObj[song].singer %></td>
                          <td><%= songObj[song].duration %></td>
                      </tr>
                    <% } %>
                  </tbody>
              </table>
            </div>

            <hr style="background: rgba(255,255,255,0.5);">

            <div class="dynamic-footer">


              <div id="fb-root"></div>
              <script>(
                      function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
                          fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk')
                );
              </script>

              <%  var fullURL = "http://localhost:3000/album/" + songObj[0].title.replace(/ /g, '-'); %>
              <div class="fb-comments" data-href="<%= fullURL %>" data-width="100%" data-numposts="3" data-colorscheme="dark" ></div>
            </div>

          </div>



          <!-- <% include templates/listOfSongs.ejs %> -->
        </div>

        <div class="col-md-2"></div>
      </div>


    </div>


    <!--Fixed  main footer -->
    <% include templates/fixedMainFooter %>
    <!-- End of the main footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- get the objects from the server -->
    <script>
      var currentSongPlayList = <%- JSON.stringify(songObj) %>;
    </script>

    <!-- Custom jQuery -->
    <script src="/javascripts/ajax.js"></script>
    <script src="/javascripts/main.js"></script>



  </body>

</html>
